<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Test LDQP</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
        $(function() {
          $("#UID_boutonTest").click(function()
          {
           $.getJSON('/_get_query', {
           query: $("#UID_query").val()
        }, function(data) {
          s = '';
          for(var i = 0; i < data.result.length;i++) {
            s = s+ data.result[i]+'<br/>';
          }
          $("#UID_afficheTest").html(s);
        });
        return false;
          });
        });
        </script>
    </head>
    <body>
        <textarea id="UID_query" cols=50 rows=10 ></textarea><br/>
        <button id="UID_boutonTest" style='left:50px;height:50px;width:200px;'>click</button><br/>
        <span id="UID_afficheTest"style='text-align: center;'></span>
    </body>
</html>