<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>QSIM</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  
  <meta property="og:title" content="QSIM" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.desmontils.net/QSIM/" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="QSIM" />
<meta property="fb:admins" content="706563623" />
  
  <link href="{{url_for('static',filename='default.css')}}" rel="stylesheet" type="text/css" />
  
  <!-- Attention, ordre important ! -->
  <script src="{{url_for('static',filename='./js/prototype.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static',filename='./js/scriptaculous/scriptaculous.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static',filename='./js/base-qsim.js')}}" type="text/javascript"></script>
 
</head>

<body onload="init()" onunload="end()" onreload="end()">

<div id="header">
	<h1>{{nom_appli}}</h1>
	<p>Version {{version}}</p>
</div>

<div id="content">

	<!-- ================================== -->
	<!-- =============== Posts ============ --> 
	<!-- ================================== -->
	<div id="posts">
	</div>
	
	<!-- ============================================ -->
	<!-- =============== Menus de gauche ============ --> 
	<!-- ============================================ -->
	 
	<div id="categories" class="boxed">
		<h2 class="heading">Actions</h2>
		<div class="content"><ul>
			<li> <!--img src="{{url_for('static',filename='images/home_64.png')}}" alt="Informations diverses" title="Informations diverses" width="32"  onclick='news();return false;'  style='cursor:pointer'/-->
				 <img src="{{url_for('static',filename='images/pencil_64.png')}}" alt="Build a new query" title="Build a new query" width="32"  onclick='new_query();return false;'  style='cursor:pointer'/>
			     <img src="{{url_for('static',filename='images/buy_64.png')}}" alt="Quey bag" title="Query bag" width="32" onclick='get_histo();return false;' style='cursor:pointer'/>
			     <img src="{{url_for('static',filename='images/help_64.png')}}" alt="Help" title="Help" width="32" onclick="aides();return false;" style='cursor:help'/>
			</li>
			</ul>
		</div>
	</div>
	
	<div id="categories" class="boxed">
		<h2 class="heading">Datasets</h2>
		<div class="content">
			<ul>
			{% for nom in listeNoms %}
		<li> <a href='#' onClick='new Effect.Highlight(this); db( "{{nom}}" );return false;' style='cursor:pointer'><img src="{{url_for('static',filename='images/Database.png')}}" alt='Base {{nom}}' title='Base {{nom}}' width='32'/> {{nom}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>

	<div id="blogroll" class="boxed">
		<h2 class="heading">Contact</h2>
		<div class="content">
		<ul>
		  <li> <a href='mailto:emmanuel.desmontils@univ-nantes.fr?subject={{nom_appli}} {{version}} - question '> <img src="{{url_for('static',filename='images/letter_64.png')}}" alt="Courriel" title="Courriel" width="32"/></a> 
		       <a href="http://priloo.univ-nantes.fr/"><img src="{{url_for('static',filename='images/globe_64.png')}}" alt="Web page" title="Web page" width="32"/></a>
		  </li>
		</ul>
		</div>
	</div>
	
	<div id="pages" class="boxed">
		<h2 class="heading">Mentions</h2>
		<div class="content">
			<ul>
				<li><!--img src="{{url_for('static',filename='images/info_64.png')}}" alt="À propos de {{nom_appli}}" title="À propos de {{nom_appli}}" width="32" onclick="apropos();return false;" style='cursor:pointer'/-->
				    <img src="{{url_for('static',filename='images/shield_64.png')}}" alt="Mentions" title="Mentions" width="32" onclick="mentions();return false;" style='cursor:pointer'/>
				    
				</li>
			</ul>
		</div>
	</div>
	
	<div id="pages" class="boxed">
		<!--h2 class="heading">Liens</h2-->
		<div class="content">
			<div id="footer">
				<p>Copyright &copy; 2017 <a href="http://www.desmontils.net/">E. Desmontils</a> &amp; <a href="http://pagesperso.lina.univ-nantes.fr/~serrano-p/Patricia_Serrano_Alvarado">P. Serrano-Alvarado</a>,<br/> University of Nantes, France. 
				   <br/>Designed by <a href="http://www.freecsstemplates.org/"><strong>Free CSS Templates</strong></a> 
				   <br/><a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a>
				   <br/><a href="#" onclick="mentions();return false;" style='cursor:pointer'>Other legal mentions</a>
				</p>
			</div>
		</div>
	</div>

</div>


</body>
</html>